<p>Guesses left: <%= @game.guesses_left %></p>
<form id="guess" class="" action="index.html" method="post">
  <input type="text" name="letter" value="">
  <button type="submit" name="button">Guess</button>
</form>
