<form id="new-game" class="" action="/play" method="post">
  <div class="form-group">
    <label for="word">Enter word</label>
    <input class="form-control word" type="text" name="word" value="">
  </div>
  <button class="btn btn-primary" type="submit" name="button">Play</button>
</form>
